body {
  background-image: url("https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png");
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.banner{
  height: 50px;
  text-align: center;
  background-image: url("https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png");
}

h1 {
  font-weight: bold;
  font-size: 24pt;
  text-shadow: 3px 3px #999999;
  text-align: center;
}

.contenitor {
  width: 800px;
  border-width: 4px;
  border-radius: 10px;
  border-color: #999999;
  border-style: solid;
  margin: auto;
  overflow: auto;
}

.synthesis {
  width: 250px;
  float: right;
  background-color: #A2B964;
  z-index: 0;
}

.synthesis>dl{
  margin: 0;
  padding: 10pt;
  font-family: Arial, sans-serif;
  font-size: 8pt;
}

.synthesis>dl>dt {
  font-weight: bold;
}

.synthesis>dl>dd{
  padding-bottom: 10pt;
}

#links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rating {
  width: 550px;
  float: left;
  z-index: 1;
}

.left {
  float: left;
  width: 47%;
  margin: 2%;
}

.right {
  float: right;
  width: 47%;
  margin: 2%;
  margin-left: 0;
}

.classification {
  background-image: url("https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png");
  height: 83px;
}

.classification img {
  vertical-align: bottom;
}

#rate {
  color: red;
  font-weight: bold;
  font-size: 48pt;
}

.review {
  border-style: solid;
  border-color: grey;
  font-size: 8pt;
  font-weight: bold;
  background-color: #E8DC9B;  
  border-radius: 10px;
  border-width: 2px;
  padding: 8px;
  margin-top: 0;
  overflow: auto;
}

.review>img, .critic>img {
  padding-right: 5px;
  float: left;
}

.critic {
  margin-bottom: 20pt;
  overflow: auto;
}

.publication {
  font-style: oblique;
}

.page {
  text-align: center;
  background-color: #A2B964;
  clear: both;
  padding: 5px;
  margin: 0;
}

.validator {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}