html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: oblique;
  font-size: 14pt;
}

#puzzlearea {
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: left;
  position: relative;
  background-color: gainsboro;
  border: 5px solid gainsboro;
}

#puzzlearea > div {
  width: 90px;
  height: 90px;
  border: 5px solid;
  font-size: 40pt;
  line-height: 90px;
  text-align: center;
  position: absolute;
  background-image: url("background.jpg");
}

.movableTile:hover {
  color: red;
  border-color: red;
}