@import url("banner.css");
@import url("login.css");
@import url("home_search.css");
@import url("offer.css");
@import url("publish.css");

/* @font-face {
    font-family: Lato;
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
} */

html, body{height: 100%;}

html, body, *{
  margin : 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #253A47;
}

img {
  height: 100%;
  vertical-align: bottom;
}

#msg {
  width: 90%;
  color: red;
  border: 1px;
  border-style: dashed;
  margin-top: 20px;
  font-weight: bold; 
  font-size: 2em;
  background-color: wheat;
  display: inline-block;
}

#frame {
  min-height: 100%;
  position: relative;
}

#main {
  text-align: center;  
  padding: 5px;
  padding-bottom: 30px;
}

.submitBtn {
  height: 50px;
  width: 25%;
  background-color: #66CCFF;  
  border: 1px #253A47;
  border-style: solid;
  border-radius: 5px;
  font-size: 25px;
}

#w3c {
  position: absolute;
  height: 30px;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

#bannerTxt, #user {
  display: none;
}

#options {
  display: block;
  overflow: hidden;
}
#options li{
  width: 80px;
  font-size: 15px;
  float: left;
}
#options span{
  padding: 3px;
}

.menu {
  min-width: auto;
}